/*
*/
params {
    keep_workdir = false
    mail_to = 'lizhou@mirxes.com'
    publishdir = 'results'
    tracedir = "${params.outdir}/pipeline_info"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

// clean up workdir. overwrroten by params.keep_workdir
// see https://github.com/nextflow-io/nextflow/issues/649
cleanup = true

/*
*env {
*  NXF_OPTS="-Xms1g -Xmx4g"
*}
*/

report {
     enabled = true
     file = "${params.tracedir}/report.html"
}

timeline {
     enabled = true
     file = "${params.tracedir}/timeline.html"
}

trace {
     enabled = true
     file = "${params.tracedir}/trace.txt"
}

plugins {
    id 'nf-amazon'
}

profiles {

     local {
          includeConfig 'conf/base.config'
          includeConfig 'conf/local.config'
     }
     docker {
          includeConfig 'conf/base.config'
          process.container = 'sebastian987/nf-wgbs:latest'
          docker.enabled = true
     }
     nscc {
          includeConfig 'conf/base.config'
          includeConfig 'conf/nscc.config'
     }
     aws {
          includeConfig 'conf/base.config'
          process.executor = 'awsbatch'
          process.queue = 'job-queue'
          process.container = 'sebastian987/nf-wgbs:latest'
          region = 'ap-southeast-1'
          batch.maxParallelTransfers = 1
     }
}


