/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself.
 */
mail {
    smtp.host = 'localhost'
}


process {

    errorStrategy = 'terminate'

    withName:fastqc_raw {
        time = '24 h'
	cpus = 4
	memory = '16 GB'
    }
    withName:fastq_split {
        time = '4 h'
        cpus = 4
        memory = '16 GB'
    }
    withName:trim_galore {
        time = '4 h'
        cpus = 4
        memory = '16 GB'
    }
    withName:fastqc_aftertrim {
        time = '24 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:bismark_align_lambda {
        time = '2 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:bismark_align {
        time = '12 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:merge_bam {
        time = '24 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:deduplication_bam {
        time = '12 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:methyl_extract {
        time = '24 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:sort_bam {
        time = '24 h'
        cpus = 4
        memory = '32 GB'
    }
    withName:coverage {
        time = '24 h'
        cpus = 4
        memory = '16 GB'
    }
    withName:insert_size {
        time = '10 h'
        cpus = 4
        memory = '16 GB'
    }

}
