/*
 *  Nextflow config file for NSCC profile
 */


mail {
  smtp.host = 'localhost'
  smtp.user = 'NSCC'
}


executor {
   name = 'pbspro'
   queueSize = 98
   submitRateLimit = '90 / min'
   pollInterval = '3000 sec'
   exitReadTimeout = '30000 sec'
}



// cannot move this into process because params.container gets access as process.params.container
// despite https://github.com/nextflow-io/nextflow/issues/733
//process.container = singularity.cacheDir + '/' + params.container

process {   
    queue = 'normal'
    maxRetries = 2
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
    // project id
    clusterOptions = "-P 12000713"

}
